@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.container {
		@apply mx-auto;
		max-width: 1336px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.btn-round {
		@apply bg-primary px-7 py-3 rounded-r-full rounded-l-full text-white hover:opacity-80;
	}
	.btn-outline {
		@apply bg-transparent border-2 border-primary text-primary hover:bg-primary hover:text-white transition-all;
	}
	.hero {
		@apply pt-[100px] bg-secondary;
	}
	.text-hero {
	}
	.scroll {
		background-color: #fff !important;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
		box-shadow: 0 0 30px 0px rgba($color: #000000, $alpha: 0.1);
	}
	.develop-bg {
		background-image: url(../../statics/images/develop-quality-background.svg);
		background-repeat: no-repeat;
		background-position: left top;
	}
	.gradient-buttom {
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.86) 100%
		);
	}
}

header {
	transition: 0.2s ease;
}

.develip-quality-image {
	height: 200px;
	margin-top: 30px;
	transform: scale(2);

	@media screen and (max-width: 360px) {
		transform: scale(2) translateY(40px);
	}
}
